@charset "UTF-8";

* {
   margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif; 
}    

html, body {
    height: 100%;
    width: 100%;
}
body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    height: 100vh;
    position: relative;
}
section#telefone {
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(5px 5px 10px black );
}
iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269;
    height: 471;
}
section#rede-sociais {
    text-align: right;
}
a > img {
    margin: 5px;
    border-radius: 50%;
    width: 60px;
    box-shadow: (1px 5px 1px black);
    box-sizing: border-box;
}
a > img:hover {
    border: 3px solid rgb(255, 255, 255);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 1px black;
    transition: transform 0.4s, border 0.5;
}

